%meta#shop_currency[:priceCurrency]{:content => 'USD'}

%article[Mida(:Offer)]{:itemref => 'shop_currency'}
  %strong[:name] Boots
  %b[:price] 30$

%article[Mida(:Offer)]{:itemref => 'shop_currency'}
  %strong[:name] Hat
  %b[:price] 25$

%article[Mida(:Offer)]{:itemref => 'shop_currency'}
  %strong[:name] T-short
  %b[:price] 20$

%article[Mida(:Offer)]{:itemref => 'shop_currency'}
  %strong[:name] Shorts
  %b[:price] 15$

%article[Mida(:Offer)]{:itemref => 'shop_currency'}
  %strong[:name] Socks
  %b[:price] 10$
