%article[Mida(:Person)]
  %img{src: "/images/icons/male.jpg"}
  %span[:name] Tom Jonson
  %meta[:gender]{content: 'male'}

%article[Mida(:Person)]
  %img{src: "/images/icons/female.jpg"}
  %span[:name] Arica Jonson
  %meta[:gender]{content: 'female'}

