.breadcrumbs
  %span[Mida("http://data-vocabulary.org/Breadcrumb")]
    %a[:url]{href: '/dresses'}
      %span[:title]> Dresses
  >
  %span[Mida("http://data-vocabulary.org/Breadcrumb")]
    %a[:url]{href: '/dresses/balinese'}
      %span[:title]> Balinese
  >
  %span[Mida("http://data-vocabulary.org/Breadcrumb")]
    %a[:url]{href: '/dresses/balinese/Traditional'}
      %span[:title]> Traditional

%h1 Traditional balinese dresses

%p some content ...