%section[Mida(:WebPage)]
  %a[:breadcrumb]{href: "/books"} Books
  >
  %a[:breadcrumb]{href: "/books/authors"} Authors
  >
  %a[:breadcrumb]{href: "/books/authors/stephen-king"} Stephen King
    
  %h1[:name] Books by Stephen King
  
  %p ...