%article[Mida(:MusicAlbum)]
  %header
    %h1[:name]
      %a[:url](href="http://www.mediadecay.com/album_review/yell-at-me-from-your-car/" rel="bookmark" title="Permanent Link to Album Review: Yell At Me From Your Car")
        %span Album Review:
        Yell At Me From Your Car
  
  %section.postcontent
    %img[:image](src="http://cdn.mediadecay.com/wp-content/uploads/2011/11/yellweb.jpg")
  
    %p[Mida(:MusicGroup), :byArtist]
      %span[:name]
        %a(href="http://www.mediadecay.com/artist/riki-lindhome/") Riki Lindhome
    
    %p.taxonomy
      Genre:
      %span[:genre] Comedy
      %span[:genre] Singer/Songwriter
    
    %div[Mida(:Review), :reviews]
      %div[:reviewBody]
        %p
          %strong Yell At Me From Your Car
          is the debut solo EP from actress/comedian/singer Riki Lindhome, 
          half of site favorites Garfunkel & Oates.
          Riki’s done a lot of great stuff in her career.
          I love a lot of her acting roles, and she has a new podcast on Nerdist called “
          %a Making It with Riki Lindhome
          ” where people who have “made it” tell how it’s happened to them for aspiring actors, 
          writers, comedians, etc. But I can’t help but love the incredible stuff she’s done 
          with Kate Miccuci in Garfunkel & Oates (hopefully coming to HBO soon).
        
        %p
          %strong Yell At Me From Your Car
          is made of of 5 tracks, some of which if you’ve visited her website or 
          follow her on twitter you may have heard in a rough form before.
          But here they are all fleshed out and ready for your ear holes.
      
      %div[Mida(:Person), :author]
        %strong[:name] Jason F
        %p[:description]
          Jason is a script supervisor for film & television as well as a drummer. 
          He is a native New Yorker currently living in Brooklyn. You can follow him on twitter.

      %meta(itemprop="datePublished" content="2011-11-29T15:00:17+00:00")