%footer
  %span.author
    = link_to "Evstigneev Pavel", "http://github.com/Paxa"
  %span.source
    = link_to "Source on github", "http://github.com/Paxa/semantic_data"
    
  = link_to "https://plus.google.com/114420994383371863949", :rel => :author, :class => "google-plus" do
    %img(alt="g+" src="http://www.google.com/images/icons/ui/gprofile_button-16.png" width="16" height="16")
    
  %div(class="g-plusone" data-size="standard" data-count="true")
  = javascript_include_tag "https://apis.google.com/js/plusone.js"