%header<>
  .logo>
    = link_to root_path do
      %h1 Microdata tools
      
  %nav
    %ul
      %li>= link_to("Analyzation", root_path)
      %li>= link_to("Microdata to RSS", rss_path)
      -#%li>= #link_to("Articles", articles_path)
      %li>= link_to("External resources", external_resources_path)
      %li>= link_to("Blog", posts_path)