%section.form
  = form_tag get_items_path, :method => :get do
    %fieldset<>
      = text_field_tag :url, params[:url], :placeholder => "Enter web-page address to analyze"
      = submit_tag "Extract items!", :name => nil
      
  %footer
    * Analyzation may take few minutes
