- @page_title = "404 - not found"

%section.window.not_found
  
  %h1 Page you are looking for not found
  
  = image_tag "tupik.jpeg"
  
  %ul
    %li= link_to "Go back", :back
    %li= link_to "Home page", '/'
