- @page_title = "Projects"
- @description = "List of projects what already use microdata attributes in html layout"

%section.window.projects
  %header
    = link_to "Suggest project!", new_project_path, :class => "button"
  
  = render @projects