%article[post, defined?(single) || :blogPosts]{:itemid => post.link}

  = link_to post, :itemprop => "url" do
    %h3[:name]>= post.title
  
  .post_body[:articleBody]= post.body.html_safe
  
  = time_tag(post.published_at, :itemprop => "datePublished")