- @page_title = "Blog"

%section.window.blog{:itemscope => true, :itemtype => "http://schema.org/Blog"}
  %header
    %p[:description]
      I will write here project news and articles about microdata.
    
    .author
      &mdash; 
      %span[:author] Evstigneev Pavel
  
  = render @posts