- @page_title = "Blog"
- @description = "Some news related with this service"

%section.window.blog[Mida(:Blog)]
  %header
    %p[:description]
      I will write here project news and articles about microdata.
    
    .author
      &mdash; 
      %span[:author] Evstigneev Pavel
  
  = render @posts