- @page_title = "#{@post.title} - #{@post.published_at.strftime("%d %h %Y")}"

%section.window.post
  = render @post, :single => true
  
  = raw disqus_thread show_powered_by: false, developer: Rails.env.development?, account: 'microdatatools'