- @page_title = "Parsing results for #{params[:url]}"
%section.window.get_items
  = render "welcome/form"

  %section.results.item_loader{:data => {:url => parser_parse_url_path(:url => params[:url]) } }