/* master
$base: 12px
$footer: $baseline * 2.5

html > body
  :background
    :image url('/images/backgrounds/lines.png')
  :height 100%
  :font
    :family Geneva, Georgia, Georgia, serif
    :size 0.75em
  :line-height 1.5em
  
  /* font-size 13px, baseline 19px

  a
    :text-decoration underline

input
  :color black
  &.is-placeheld
    :color #999

#container
  :background-color #fff
  :border 10px solid #bbb
  :border-width 0 10px
  :padding 0 10px
  :position relative
  +grid-container
  :min-height 100%
  
  > footer
    :margin-top 1.4em
    :border-top 0.1em dashed #ccc
    :padding 1em 0

    > *
      :margin-right 0.5em
      
    > a.google-plus
      :position relative
      :top 3px